<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

   {%- include head.html -%}

  <body>

   {%- include header.html -%}

    <!--<div class="py-5">
       <div class="container-fluid">
          {{ content }}
      </div>
    </div>-->
     
     <div class="container-fluid" style="height:90vh;">
        <div class="row">
           <div class="col-md-10 justify-content-center align-items-center">
     {{ content }}
     </div>
            </div>
         </div>

    {%- include footer.html -%}

  </body>

</html>
