<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

   {%- include head.html -%}

  <body>

   {%- include header.html -%}
     
     <div class="container-fluid">
        <div class="row">
           <div class="col-md-12" style="height:90vh;">
     {{ content }}
     </div>
            </div>
         </div>
     <div class="container">
        <div class="row" style="margin:4%;">
           <div class="col-md-12">
     <div class="muted"><p>Nota: si detectas problemas en la visualización de los resultados, presiona el botón de pantalla completa en la esquina inferior derecha para adaptar la plataforma a tu monitor.</p></div>
           </div>
           </div>
        </div>
    {%- include footer.html -%}

  </body>

</html>
